# Bỏ qua file môi trường và thư mục IDE
.metadata/
.classpath
.project
.settings/
.factorypath

# Bỏ qua build output
target/

# Bỏ qua file cấu hình riêng
src/main/resources/application.properties
zosh-social-youtube/src/main/resources/application.properties